<!DOCTYPE html>
<html>
  <%- include ("./parcial/head") %>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include ("./parcial/nav") %>

    <!-- Header -->
    <%- include ("./parcial/header") %>

    <!-- Page content -->
    <div class="ps-content">
      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large" id="plato-<%= plato.id %>">
          <h1 class="ps-center"><%= plato.titulo %></h1>
          <br />
          <h4><%= plato.descripcionCorta %></h4>
          <p class="ps-text-grey">
            <% if(plato.descripcionDetallada.length) {%> <%=
            plato.descripcionDetallada%> <%} else{ %> plato Tipoco <%} %> U$S<%=
            plato.precio %>
          </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="/images/<%= plato.img %>"
            alt="Menu"
            class="ps-round ps-image ps-opacity-min"
          />
        </div>
      </div>

      <!-- Footer -->
      <%- include ("./parcial/footer") %>
    </div>
    <script>
      document
        .getElementById("plato-<%= plato.id%>")
        .scrollIntoView({ behavior: "smooth", block: "start" });
    </script>
  </body>
</html>
